.tabla-title {
  border-bottom: 1px solid aqua;
  padding-top: 8px;
  padding-bottom: 8px;
}

.tabla1 {
  border-right: 1px solid aqua;
  border-bottom: 1px solid aqua;
}

.tabla2 {
  border-bottom: 1px solid aqua;
}

.tabla3 {
  border-right: 1px solid aqua;
}

.contac-ws {
  color: #25d366;
  text-decoration: none;
  font-size: 150px;
  @media screen and (max-width: 576px) {
    font-size:  60px;
  }
}

.contac-ws :hover {
  cursor: pointer;
}
.contac-ws :active {
  color: #0a8136;
}

.contac-mail {
  color: #c71610;
  text-decoration: none;
  font-size: 150px;
  @media screen and (max-width: 576px) {
    font-size:  60px;
  }
}

.contac-mail :active {
  color: #a0110c;
}

h5 {
  color: aqua;
}

h3 {
  color: aqua;
}

.info {
  border-left: 1px solid aqua;
  border-right: 1px solid aqua;
  @media screen and (max-width: 576px) {
    border-left: none;
    border-right: none;
    border-top: 1px solid aqua;
    border-bottom: 1px solid aqua;
  }
}

.title2 {
  @media screen and (max-width: 576px) {
    padding-top: 15px;
  }
}
