<swiper-container
  style="--swiper-pagination-color: #1f1d1d"
  slides-per-view="1"
  loop="true"
  pagination="true"
  pagination-dynamic-bullets="true"
  autoplay-delay="5000"
  autoplay-disable-on-interaction="false"
  pagination-clickable="true">
  @for (item of imagenes; track $index) {
    <swiper-slide class="contenedor">
      <div class="textImg">
        <h2 class="titleImg">{{item.titulo}}</h2>
        <p class="descrip">{{item.descripcion}}</p>
      </div>
      <img class="imagenes" src="{{item.ruta}}" alt="">
    </swiper-slide>
  }
</swiper-container>
